/* -------------------------------------------------------------------------- */
/* Definitions for `Dataset` and `related`-objects like `attributes`,         */
/* `DQ Controls`, `DQ Thresholds` and `related Group(s)`.                     */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* ID Dataset : `000c0a0c060d0d0c040e0e06030f1405`                            */
/*                                                                            */
/* -------------------------------------------------------------------------- */
BEGIN

  /* --------------------- */
  /* `Dataset`-definitions */
  /* --------------------- */
  INSERT INTO tsa_dta.tsa_dataset (id_development_status, id_dataset, id_group, is_ingestion, fn_dataset, fd_dataset, nm_target_schema, nm_target_table, tx_source_query) VALUES ('06010b0900010908010d0e0404021503', '000c0a0c060d0d0c040e0e06030f1405', '000c0a0c060d0d03090f0d02080c1400', '0', 'Dividends of NVIDIA', 'Provide some description', 'dta_dividend', 'nvidia', 'SELECT ''NVDA''       AS cd_stock<newline>     , [stk].[Date] AS dt_dividend<newline>     , [stk].[Close Close price adjusted for splits.] AS nr_dividend<newline><newline>FROM [psa_stocks].[nvidia] AS [stk]<newline><newline>WHERE CHARINDEX(''Dividend'', [stk].[Close Close price adjusted for splits.], 1) != 0');
  
  /* ----------------------- */
  /* `Attribute`-definitions */
  /* ----------------------- */
  INSERT INTO tsa_dta.tsa_attribute (id_attribute, id_dataset, id_datatype, fn_attribute, fd_attribute, ni_ordering, nm_target_column, is_businesskey, is_nullable) VALUES ('000e0c0d020e0f0c050a0a07030c1405', '000c0a0c060d0d0c040e0e06030f1405', '00080e06090e0105060a0106060e1404', 'Date Dividend', NULL, '2', 'dt_dividend', '1', '0');
  INSERT INTO tsa_dta.tsa_attribute (id_attribute, id_dataset, id_datatype, fn_attribute, fd_attribute, ni_ordering, nm_target_column, is_businesskey, is_nullable) VALUES ('000f0c02090b0905090f0805090b1402', '000c0a0c060d0d0c040e0e06030f1405', '00010804040e0b0300090e06030b1406', 'Amount Dividend', NULL, '3', 'nr_dividend', '0', '0');
  INSERT INTO tsa_dta.tsa_attribute (id_attribute, id_dataset, id_datatype, fn_attribute, fd_attribute, ni_ordering, nm_target_column, is_businesskey, is_nullable) VALUES ('000f0e0006080d05030e000207091400', '000c0a0c060d0d0c040e0e06030f1405', '000e0b00050008010800000102140a0c', 'Code Stock', NULL, '1', 'cd_stock', '1', '0');

  /* ------------------------------ */
  /* `Parameter Values`-definitions */
  /* ------------------------------ */
  -- No Defintions for `Parameter Values`

  /* ------------------------------ */
  /* `SQL for ETL`-definitions      */
  /* ------------------------------ */
  -- No Defintions for `SQL for ETL`

  /* ------------------------------ */
  /* `Schedule`-definitions         */
  /* ------------------------------ */
  INSERT INTO tsa_dta.tsa_schedule (id_schedule, id_dataset, cd_frequency, ni_interval, dt_start, dt_end) VALUES ('07090900040c090c060d0e0405140e01', '000c0a0c060d0d0c040e0e06030f1405', 'Minutes', '5', '2025-03-14', '2025-03-31');

  /* -------------------------------- */
  /* `Related (Group(s))`-definitions */
  /* -------------------------------- */
  INSERT INTO tsa_ohg.tsa_related (id_related, id_dataset, id_group) VALUES ('00080e06090f0d04010a0800030f140c', '000c0a0c060d0d0c040e0e06030f1405', '000f0e0007000e03020c0a0007091406');

  /* ------------------------ */
  /* `DQ Control`-definitions */
  /* ------------------------ */
  -- No Defintions for `DQ Control`

  /* -------------------------- */
  /* `DQ Threshold`-definitions */
  /* -------------------------- */
  -- No Defintions for `DQ Threshold`
  
END
GO

