/* -------------------------------------------------------------------------- */
/* Definitions for `Dataset` and `related`-objects like `attributes`,         */
/* `DQ Controls`, `DQ Thresholds` and `related Group(s)`.                     */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* ID Dataset : `000c0a0c060c0902060d010103091407`                            */
/*                                                                            */
/* -------------------------------------------------------------------------- */
BEGIN

  /* --------------------- */
  /* `Dataset`-definitions */
  /* --------------------- */
  INSERT INTO tsa_dta.tsa_dataset (id_development_status, id_dataset, id_group, is_ingestion, fn_dataset, fd_dataset, nm_target_schema, nm_target_table, tx_source_query) VALUES ('06010b0900010908010d0e0404021503', '000c0a0c060c0902060d010103091407', '000c0a0c060c080d070d0c00020b1402', '1', 'Exchange Rate EUR/USD', 'n/a', 'psa_yahoo_exchange_rate', 'eur_x_usd', 'SELECT src.[Date]<newline>     , src.[Open]<newline>     , src.[High]<newline>     , src.[Low]<newline>     , src.[Close]<newline>     , src.[Adj Close  Adjusted close price adjusted for splits and dividend and/or capital gain distributions.]<newline>     , src.[Volume]<newline><newline>FROM tsl_psa_yahoo_exchange_rate.tsl_eur_x_usd AS src');
  
  /* ----------------------- */
  /* `Attribute`-definitions */
  /* ----------------------- */
  INSERT INTO tsa_dta.tsa_attribute (id_attribute, id_dataset, id_datatype, fn_attribute, fd_attribute, ni_ordering, nm_target_column, is_businesskey, is_nullable) VALUES ('00080e06090e0c00040a0f0008001405', '000c0a0c060c0902060d010103091407', '000b0f06090d0904090d000c05091400', 'High', 'High', '3', 'High', '0', '0');
  INSERT INTO tsa_dta.tsa_attribute (id_attribute, id_dataset, id_datatype, fn_attribute, fd_attribute, ni_ordering, nm_target_column, is_businesskey, is_nullable) VALUES ('000c080307090e03040f000008081400', '000c0a0c060c0902060d010103091407', '000b0f06090d0904090d000c05091400', 'Close', '<div><font face="Cascadia Mono" size=1 color=black<newline><newline><newline>style="BACKGROUND-COLOR:#FFFFFF">Close &nbsp;Close price adjusted for splits.</font></div>', '5', 'Close', '0', '0');

  /* ------------------------------ */
  /* `Parameter Values`-definitions */
  /* ------------------------------ */
  INSERT INTO tsa_dta.tsa_parameter_value (id_parameter_value, id_dataset, id_parameter, tx_parameter_value, ni_parameter_value) VALUES ('000c080307090f05010c0e010609140c', '000c0a0c060c0902060d010103091407', '06060e030f000b0104070b080f0c1503', 'EURUSD%3DX/history/?period1=<@ni_previous_epoch>&period2=<@ni_current_epoch>', '5');
  INSERT INTO tsa_dta.tsa_parameter_value (id_parameter_value, id_dataset, id_parameter, tx_parameter_value, ni_parameter_value) VALUES ('000c0a0c060c0a04030f000d010f1407', '000c0a0c060c0902060d010103091407', '000c0a0c060c0a04030f000d060e1400', 'n/a', '3');
  INSERT INTO tsa_dta.tsa_parameter_value (id_parameter_value, id_dataset, id_parameter, tx_parameter_value, ni_parameter_value) VALUES ('000e0c0d020d090c06000a0601081406', '000c0a0c060c0902060d010103091407', '0601090601040e01050d0b08060c1502', 'web', '2');

  /* ------------------------------ */
  /* `SQL for ETL`-definitions      */
  /* ------------------------------ */
  INSERT INTO tsa_dta.tsa_ingestion_etl (id_ingestion_etl, id_dataset, nm_processing_type, tx_sql_for_meta_dt_valid_from, tx_sql_for_meta_dt_valid_till) VALUES ('000c0a0c060c0a0403000c0c040d1404', '000c0a0c060c0902060d010103091407', 'Incremental', 'src.[Date]', '''9999-12-31''');

  /* ------------------------------ */
  /* `Schedule`-definitions         */
  /* ------------------------------ */
  -- No Defintions for `SQL for ETL`

  /* -------------------------------- */
  /* `Related (Group(s))`-definitions */
  /* -------------------------------- */
  INSERT INTO tsa_ohg.tsa_related (id_related, id_dataset, id_group) VALUES ('000d0104010e0b01080d0d050000140d', '000c0a0c060c0902060d010103091407', '000e0f0104090f0002080e04070f1403');

  /* ------------------------ */
  /* `DQ Control`-definitions */
  /* ------------------------ */

  /* -------------------------- */
  /* `DQ Threshold`-definitions */
  /* -------------------------- */
  INSERT INTO tsa_dqm.tsa_dq_threshold (id_dq_threshold, id_dq_risk_level, id_dq_control, nr_dq_threshold_from, nr_dq_threshold_till, dt_valid_from, dt_valid_till) VALUES ('000c0a0c060c000603010e00090b1405', '06050f030f030a0805030f08020d1505', '0e010000050601050e030e0405190e06', '0.975000', '1.000000', '1900-01-01', '9999-12-31');
  INSERT INTO tsa_dqm.tsa_dq_threshold (id_dq_threshold, id_dq_risk_level, id_dq_control, nr_dq_threshold_from, nr_dq_threshold_till, dt_valid_from, dt_valid_till) VALUES ('000e0c0d020d0104020f0d030901140c', '06020f05010d0f06040d0d0105061508', '0e010000050601050e030e0405190e06', '0.925000', '0.974999', '1900-01-01', '9999-12-31');
  INSERT INTO tsa_dqm.tsa_dq_threshold (id_dq_threshold, id_dq_risk_level, id_dq_control, nr_dq_threshold_from, nr_dq_threshold_till, dt_valid_from, dt_valid_till) VALUES ('000f0e0007010d03010e0d04020f1402', '06020d070f040b080f010e040f051501', '0e010000050601050e030e0405190e06', '0.000000', '0.924999', '1900-01-01', '9999-12-31');
  
END
GO

