/* -------------------------------------------------------------------------- */
/* Definitions for `Dataset` and `related`-objects like `attributes`,         */
/* `DQ Controls`, `DQ Thresholds` and `related Group(s)`.                     */
/* -------------------------------------------------------------------------- */
/*                                                                            */
/* ID Dataset : `06010b0900010b0702020b000f001506`                            */
/*                                                                            */
/* -------------------------------------------------------------------------- */
BEGIN

  /* --------------------- */
  /* `Dataset`-definitions */
  /* --------------------- */
  INSERT INTO tsa_dta.tsa_dataset (id_development_status, id_dataset, id_group, is_ingestion, fn_dataset, fd_dataset, nm_target_schema, nm_target_table, tx_source_query) VALUES ('01040805030201000104090406190800', '06010b0900010b0702020b000f001506', '000f0e0007000e03020c0a0007091406', '0', 'Dim Currency', '<div>Convert Staging data of Currency to Dimension</div>', 'dta_dimensions', 'currency', 'SELECT [cur].[Currency] AS [cd_currency],<newline>       [cur].[Name]     AS [nm_currency]<newline>FROM psa_yahoo_static_data.currency AS cur<newline>WHERE cur.Currency IS NOT NULL');
  
  /* ----------------------- */
  /* `Attribute`-definitions */
  /* ----------------------- */
  INSERT INTO tsa_dta.tsa_attribute (id_attribute, id_dataset, id_datatype, fn_attribute, fd_attribute, ni_ordering, nm_target_column, is_businesskey, is_nullable) VALUES ('06030d0804000b0707010e030e071503', '06010b0900010b0702020b000f001506', '050d0006050b0e07050b090c1d0c0d06', 'Name Currency', '<div>Name of Currency</div>', '2', 'nm_currency', '0', '0');
  INSERT INTO tsa_dta.tsa_attribute (id_attribute, id_dataset, id_datatype, fn_attribute, fd_attribute, ni_ordering, nm_target_column, is_businesskey, is_nullable) VALUES ('06020d070f040c01030c080006011501', '06010b0900010b0702020b000f001506', '000e0b00050008010800000102140a0c', 'Code Currency', '<div>Code of Currency</div>', '1', 'cd_currency', '1', '0');

  /* ------------------------------ */
  /* `Parameter Values`-definitions */
  /* ------------------------------ */
  -- No Defintions for `Parameter Values`

  /* ------------------------------ */
  /* `SQL for ETL`-definitions      */
  /* ------------------------------ */
  INSERT INTO tsa_dta.tsa_ingestion_etl (id_ingestion_etl, id_dataset, nm_processing_type, tx_sql_for_meta_dt_valid_from, tx_sql_for_meta_dt_valid_till) VALUES ('06020f05010d01090506000106011502', '06010b0900010b0702020b000f001506', NULL, NULL, NULL);

  /* -------------------------------- */
  /* `Related (Group(s))`-definitions */
  /* -------------------------------- */
  INSERT INTO tsa_ohg.tsa_related (id_related, id_dataset, id_group) VALUES ('06050f030f030c000f070e0907031500', '06010b0900010b0702020b000f001506', '000c0a0c060c080d070d0c00020b1402');

  /* ------------------------ */
  /* `DQ Control`-definitions */
  /* ------------------------ */

  /* -------------------------- */
  /* `DQ Threshold`-definitions */
  /* -------------------------- */
  INSERT INTO tsa_dqm.tsa_dq_threshold (id_dq_threshold, id_dq_risk_level, id_dq_control, nr_dq_threshold_from, nr_dq_threshold_till, dt_valid_from, dt_valid_till) VALUES ('06030d0804000b080407090507071504', '06020f05010d0f06040d0d0105061508', '06010b0900010b0803050e0401061501', '0.925000', '0.974999', '1900-01-01', '9999-12-31');
  INSERT INTO tsa_dqm.tsa_dq_threshold (id_dq_threshold, id_dq_risk_level, id_dq_control, nr_dq_threshold_from, nr_dq_threshold_till, dt_valid_from, dt_valid_till) VALUES ('06020d070f040c020e000e07060d1507', '06020d070f040b080f010e040f051501', '06010b0900010b0803050e0401061501', '0.000000', '0.924999', '1900-01-01', '9999-12-31');
  INSERT INTO tsa_dqm.tsa_dq_threshold (id_dq_threshold, id_dq_risk_level, id_dq_control, nr_dq_threshold_from, nr_dq_threshold_till, dt_valid_from, dt_valid_till) VALUES ('01040805030d0f0707050d090e190b04', '06050f030f030a0805030f08020d1505', '06010b0900010b0803050e0401061501', '0.975000', '1.000000', '1900-01-01', '9999-12-31');
  
END
GO

